node_modules
.next
.git
.gitignore
data
data/**
*.sqlite
*.sqlite-*
npm-debug.log*
README.md
scripts
playwright-report
test-results
.env*.local
**/*.md
Dockerfile*
docker-compose*
.vscode
.idea
coverage
